################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


.DS_Store
.vs

/DMedics/DMedics/bin
/DMedics/DMedics/obj
/DMedics/DMedics/dist

/DMedics/DMedics.Domain/bin
/DMedics/DMedics.Domain/obj
/DMedics/DMedics.Domain/dist


/DMedics/DMedics.Infrastructure/bin
/DMedics/DMedics.Infrastructure/obj
/DMedics/DMedics.Infrastructure/dist

/DMedics/DMedics.Repository/bin
/DMedics/DMedics.Repository/obj
/DMedics/DMedics.Repository/dist

/DMedics/DMedics.Services/bin
/DMedics/DMedics.Services/obj
/DMedics/DMedics.Services/dist

/DMedics/DMedics.Test/bin
/DMedics/DMedics.Test/obj
/DMedics/DMedics.Test/dist

